############################
# Streamlit secrets & config
############################

# 로컬 스트림릿 비밀키 폴더 전체 제외
.streamlit/

# 혹시라도 개별 secrets.toml이 있는 경우
secrets.toml

############################
# Python 캐시 파일
############################
__pycache__/
*.pyc
*.pyo
*.pyd

############################
# 가상환경 폴더
############################
venv/
env/

############################
# OS 자동 생성 파일
############################
.DS_Store
Thumbs.db

############################
# 프로젝트 출력물
############################
reports/
*.zip
*.pdf

############################
# 환경 변수 파일
############################
.env
.env.local
